<div class="container-fluid filter-page-container">
  <div class="row index-sorting filter-wrapper">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="all-filters row">
          <div class="neighborhood-filter filter-dropdown col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <!-- <div class="dropdown-container"></div> -->
            <div class="dropdown form-control filterby by_neighborhood">
              <div class="toggle-dropdown">Select Neighborhoods <span class="caret"></span></div>
              <div class="dropdown-menu">
                <ul class="filter-list neighborhoods-column">
                  <% listings.first().attributes.neighborhoods.forEach(function (neighborhood) { %>
                    <li>
                      <input class="neighborhood-checkbox" type="checkbox">
                      <div class="filter-category"><%= neighborhood %></div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="bed-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="dropdown form-control filterby by_bed">
              <div class="toggle-dropdown">Beds <span class="caret"></span></div>
              <div class="dropdown-menu">
                <ul class="filter-list beds-column">
                  <% listings.first().attributes.beds.forEach(function (bed_num) { %>
                    <li>
                      <input class="bed-checkbox" type="checkbox"><div class="filter-category"><%= bed_num %> Bedroom</div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="price-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="dropdown form-control filterby by_price">
              <div class="toggle-dropdown">Price <span class="caret"></span></div>
                <div class="dropdown-menu">
                  <input class="price-min" type="text" placeholder="Minimum">
                  to
                  <input class="price-max" type="text" placeholder="Maximum">
                  <input type="fee-checkbox">No Fee
                </div>
            </div>
            </div>
          <div class="amenity-filter filter-dropdown col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="dropdown form-control filterby by_amenity">
              <div class="toggle-dropdown">Amenities <span class="caret"></span></div>
              <div class="dropdown-menu">
                <ul class="filter-list amenities-column">
                  <% listings.first().attributes.amenities.forEach(function (amenity) { %>
                    <li>
                      <input class="amenity-checkbox" type="checkbox">
                      <div class="filter-category"><%= amenity %></div>
                    </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 clear-all-container">Clear All</div>
  </div>
  <div class="row content-wrapper">
    <div class="col-sm-7 col-md-7 col-lg-7 sort-matches-container">
      <div class="row index-sorting sort-wrapper">
          <ul class="sort-by col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <li class= "sort-label">Sort By</li>
          <div class="sort-by-buttons">
            <li class="sort-by-border">Price</li>
            <li class="sort-by-border">Newest</li>
          </div>
        </ul>
        <div class="results-found col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="num-results"></div><div class="results"> results found</div>
        </div>
      </div>
      <div class="row matches-wrapper">
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 map-wrapper">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
