<div class="container-fluid filter-page-container">
  <div class="row index-sorting filter-wrapper">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="all-filters row">
        <form class="filters">
          <div class="neighborhood-filter filter-dropdown col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <select class="form-control filterby" name="by_neighborhood">
              <option>Select Neighborhoods</option>
            </select>
          </div>
          <div class="bed-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <select class="form-control filterby" name="by_neighborhood">
              <option>Beds</option>
            </select>
          </div>
          <div class="price-filter filter-dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <select class="form-control filterby" name="by_price">
              <option>Price</option>
            </select>
          </div>
          <div class="amenity-filter filter-dropdown col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select class="form-control filterby" name="by_amenity">
              <option>Amenities</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 clear-all-container">Clear All</div>
  </div>
  <div class="row content-wrapper">
    <div class="col-sm-7 col-md-7 col-lg-7 sort-matches-container">
      <div class="row index-sorting sort-wrapper">
          <ul class="sort-by col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <li class= "sort-label">Sort By</li>
          <div class="sort-by-buttons">
            <li class="sort-by-border">Price</li>
            <li class="sort-by-border">Newest</li>
          </div>
        </ul>
        <div class="results-found col-xs-6 col-sm-6 col-md-6 col-lg-6">
          results found
        </div>
      </div>
      <div class="row matches-wrapper">
        <% listings.each(function (listing) { %>
          <div class="listing-index-item"><%= listing %></div>
        <% }); %>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 map-wrapper">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
