<div id="main">
  <div class="under-construction">
    <img src="<%= asset_path("logo_white_background.png") %>">
    <br></br>
<!--     <p>The site is under construction but we'll be back soon!</p> -->
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(LionsShare.initialize());
</script>
