<br><br><br>
<h2>All Listings</h2>
<% @listings.each do |listing| %>
  <p>
    $<%= listing.price %>, <%= listing.bed_count %> bedroom @ <%= listing.address %>
    <a href="/admin/listings/<%=listing.id%>/edit">Edit this listing</a>
  </p>
<% end %>
<br><br>
<a href="/admin/listings/new">Create a new listing</a>
