<div class="container-fluid">
  <div class="row filter-wrapper">

  </div>
  <div class="row map-wrapper">

  </div>
  <div class="row sort-wrapper">

  </div>
  <div class="row matches-wrapper">

  </div>
</div>