<div class="container-fluid filter-page-container">
  <div class="row filter-wrapper">
    <div class="filter-menu col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="form-container">
        <form class = "filters">
          <div class="dropdowns-wrapper">
            <div class="single-drpdwn-wrapper">
              <select name="by_neighborhood" class="filterby">
                <% ([''] + Listing.uniq.pluck(:neighborhood)).each do |neighborhood| %>
                <option value="<%= neighborhood %>"></option>
                <% end %>
              </select>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Clear All</div>
  </div>
  <div class="row map-wrapper">
    <div id="map"></div>
  </div>
  <div class="row sort-wrapper">

  </div>
  <div class="row matches-wrapper">

  </div>
</div>

