<div class="container-fluid home-wrapper">
  <div class="jumbotron">
    <h1>Let us help you find</h1>
    <h1>your share of Brooklyn</h1>
    <p>
      <a class="btn btn-lg btn-home" href="/rentals" role="button">Browse Rentals</a>
      <a class="btn btn-lg btn-home" href="/sales" role="button">Browse Sales</a>
    </p>
  </div>

</div>