<div class="container-fluid header debug">
  <div class="row navbar">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1 class="logo">THE LION'S SHARE</h1>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="<%= %>"></a>
    </div>
  </div>
</div>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>