<div class="container-fluid debug">
  <div class="navbar row debug">
    <div class="brand-logo debug col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>THE LION'S SHARE</h1>
    </div>
    <div class="nav-wrapper debug col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="#">Sales</a>
      <a href="#">Rentals</a>
      <a href="#">Team</a>
      <a href="#">About Us</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 intro-wrapper debug">
    <h1>Let us help you find your share of Brooklyn</h1>
    <p>
      <button class="home-btn debug"><a href="<%= link_to %>">Browse Rentals</a></button>
      <button class="home-btn debug"><a href="#">Browse Sales</a></button>
    </p>
  </div>
</div>
