<div class="container-fluid home-wrapper">
  <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
  <div class="overlay"></div>
  <div class="debug jumbotron">
    <h1>Let us help you find
      <br>
    your share of Brooklyn</h1>
    <p>
      <a class="btn btn-lg btn-home" href="/rentals" role="button">Browse Rentals</a>
      <a class="btn btn-lg btn-home" href="/rentals" role="button">Browse Sales</a>
    </p>
  </div>

</div>