.hide {
  display: none;
}

button:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.modal-dialog.broker-modal-dialog {
  margin-top: 10%;
  width: 30%;
  height: 80%;
  overflow: hidden;
}

.modal-content {
  border-radius: 0px;
}

.modal-body {
  padding: 0px;
}

button.close {
  padding: 3%;
}

.modal-open .modal {
  overflow: hidden !Important;
}

.broker-contact-info {
  font-family: "AtlasGrotesk-Regular", Helvetica, sans-serif;
  color: #7b7b7b;
}

.broker-modal-img {
  height: 11%;
  margin: 5%;
  float: left;
}

.broker-title {
  border-bottom: 2px solid #f2f2f2;
  padding: 4%;
  font-size: 90%;
}

.broker-modal-name {
  font-size: 115%;
  margin-top: 4%;
}

.broker-modal-phone, .broker-modal-email {
  color: #131647;
  font-family: "AtlasGrotesk-Medium", Helvetica, sans-serif;
  font-size: 90%;
}

.broker-modal-phone {
  margin-top: 2%;
}

.broker-modal-email {
  margin-left: 5%;
  margin-right: 5%;
}

.message-box {
  margin-top: 15%;
  margin-left: 5%;
}

.message-box a {
  text-align: center;
}

.email-message{
  width: 95%;
  padding: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  border: none;
  resize: none;
  background-color: #f2f2f2;
  font-size: 91%;
}

.return-email {
  width: 95%;
  padding: 3%;
  font-size: 91%;
  border: none;
  background-color: #f2f2f2;
}

.send-email {
  display: block;
}

.message-box .send-email {
  width: 95%;
  padding: 3%;
  background-color: #c1a02f;
  color: white;
  font-size: 91%;
}

.message-box .send-email:hover {
  color: #0d1033;
}

.see-broker-list {
  text-align: center;
  color: #131647;
  margin: 4%;
  font-family: "AtlasGrotesk-Medium", Helvetica, sans-serif;
  font-size: 91%;
  cursor: pointer;
}

.broker-modal-list {
  overflow: scroll;
  height: 89%;
}

.broker-list-img {
  height: 13%;
}

.broker-list-name {
  margin-top: 9%;
  float: left;
}

.checkmark {
  width: 25px;
  margin: 9%;
  margin-left: 15%;
}

.choose-broker {
  /*transition: box-shadow 0.3s linear;*/
  width: 100%;
  border-bottom: 2px solid #f2f2f2;
}

.choose-broker:hover {
  -webkit-box-shadow: 0px 0 0 rgba(0,0,0,0.25);
  box-shadow:  0px 0 0 rgba(0,0,0,0.25);
}

.choose-broker:last-child {
  border: none;
}

.selected-agent {
  background-color: #e0cf97;
}

.select-agent-container {
  height: 15%;
  z-index: 100;
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
}

.select-agent {
  margin: 5%;
  padding: 3%;
  border: 3px solid #e0cf97;
  font-size: 91%;
  color: #c1a02f;
  text-align: center;
}
