.listing-show-container {
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
}

.listing-img-container {
  height: 100%;
  overflow: hidden;
}

.listing-show-info {
  height: 100%;
  padding-left: 30px;
}

.listing-main-img {
  /*height: 100%;*/
  height: auto;
  /*width: 100%;*/
}

.listing-amenities {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  color: #626262;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  font-size: 95%;
}

.listing-amenities > li {
  margin-bottom: 20px;
  list-style: none;
}

.listing-amenities > li:before {
  content: "■";
  color: #C1A02F;
  padding-right: 15px;
}

.listing-price {
  font-family: 'Lora', serif;
  font-size: 300%;
  margin-top: 35px;
}

.price-dropdown {
  width: 290% !important;
}

.fee-box {
  margin-right: 5px !important;
}

.price-min, .price-max {
  width: 90px;
  border: none;
  background-color: #f2f2f2;
  color: #919191;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.listing-beds, .listing-baths, .listing-neighborhood {
  font-family: "AtlasGrotesk-Regular", sans-serif;
  font-size: 115%;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 2px solid #f2f2f2;
}

.listing-beds {
  padding-left: 0px;
  border-left: none;
}

.listing-description {
  font-family: 'Lora', serif;
  color: #626262;
  padding-right: 30px;
  margin-top: 35px;
  font-size: medium;
}

.broker-box {
  height: 120px;
  width: 94%;
  padding: 30px;
  border-top: 2px solid #EEEEEE;
  padding-right: 0px;
  margin-right: 32px;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  padding-left: 0px;
  bottom: 0px;
  overflow: auto;
  position: absolute;
}

.broker-box-img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  float: left;
}

.broker-info {
  float: left;
  padding-top: 10px;
}

.broker-name {
  font-family: "AtlasGrotesk-Medium", sans-serif;
}

.contact-button {
  width: 157px;
  height: 51px;
  background-color: transparent;
  border: 2px solid #e0cf97;
  color: #c1a02f;
  float: right;
}

.listing-photos {
  background-color: #f2f2f2;
  margin-right: -17px;
  margin-left: 17px;
  padding-left: 10px;
  padding-right: 12px;
  padding-bottom: 15px;
}

.photos-title {
  height: 12%;
  text-align: center;
  padding-top: 3%;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  font-size: medium;
  color: #303030;
}

.listing-photo-container {
  padding: 15px;
}

.listing-photo {
  width: 100%;
}

.hidden-photos {
  display: none;
}

.show-photos {
  display: block;
}

.hide-text {
  display: none;
}

.view-all {
  text-align: center;
  padding-bottom: 1%;
  color: #C1A02F;
  cursor: default;
}

.subway-lines {
  width: 100%;
  min-height: 100%;
  background-color: #303030;
  color: #f2f2f2;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  font-size: medium;
  text-align: left;
  padding: 7%;
}

.subway-list {
  padding: 0;
  /*margin-top: 6%;*/
}

.subway-station {
  list-style: none;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #7b7b7b;
}

.walking-man {
  height: 25px;
  float: left;
}

.station-name {
  color: #7b7b7b;
}

.station-distance {
  font-size: 85%;
  padding-top: 1%;
  color: #7b7b7b;
}

.map-container {
  /*height: 85%;*/
  margin-right: -17px;
}

.subway-box {
  /*height: 100%;*/
  padding: 0px;
}

#subway-map {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
  content: "";
}

.listing-footer {
  background-color: #0E1131;
  height: 270px;
  margin-right: -17px;
  padding: 20px;
  font-family: "AtlasGrotesk-Regular", Helvetica, sans-serif;
}

.address-title {
  color: #f2f2f2;
}

.footer-top {
  padding-bottom: 4%;
}

.footer-bottom {
  bottom: 0px;
  width: 94%;
  height: 15%;
  padding-top: 2%;
  margin-left: 3%;
  border-top: 1px solid #C29F44;
}

.footer-logo {
  padding-top: 5px;
}

.footer-address {
  padding-top: 2.2%;
  padding-left: 15%;
  color: #7b7b7b;
}

.footer-logo-img {
  width: 50%;
}

.footer-icons {
  padding-left: 0px;
}

.footer-icon-img {
  width: 25px;
  margin-right: 3%;
}

.footer-terms {
  padding-left: 12%;
  padding-right: 0px;
}

.terms-link {
  color: #C29F44;
}

.terms-copyright {
  color: #7b7b7b;
}
