.listing-main-img {
  width: 100%;
}

.broker-box {
  height: 120px;
  padding: 30px;
  border-top: 2px solid #EEEEEE;
  padding-right: 0px;
  margin-right: 30px;
  font-family: "AtlasGrotesk-Regular", sans-serif;
}

.broker-box-img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  float: left;
}

.broker-info {
  float: left;
  padding-top: 10px;
}

.broker-name {
  font-family: "AtlasGrotesk-Medium", sans-serif;
}

.contact-button {
  width: 157px;
  height: 51px;
  background-color: transparent;
  border: 2px solid #e0cf97;
  color: #c1a02f;
  float: right;
}
