.listing-show-container {
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
}

.listing-img-container {
  height: 100%;
  overflow: hidden;
}

.listing-show-info {
  height: 100%;
  padding-left: 30px;
}

.listing-main-img {
  /*height: 100%;*/
  height: auto;
  width: 100%;
}

.listing-amenities {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  color: #626262;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  font-size: 95%;
}

.listing-amenities > li {
  margin-bottom: 20px;
  list-style: none;
}

.listing-amenities > li:before {
  content: "■";
  color: #C1A02F;
  padding-right: 15px;
}

.listing-price {
  font-family: 'Lora', serif;
  font-size: 300%;
  margin-top: 35px;
}

.price-dropdown {
  width: 290% !important;
}

.fee-box {
  margin-right: 5px !important;
}

.price-min, .price-max {
  width: 90px;
  border: none;
  background-color: #f2f2f2;
  color: #919191;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.listing-beds, .listing-baths, .listing-neighborhood {
  font-family: "AtlasGrotesk-Regular", sans-serif;
  font-size: 115%;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 2px solid #f2f2f2;
}

.listing-beds {
  padding-left: 0px;
  border-left: none;
}

.listing-description {
  font-family: 'Lora', serif;
  color: #626262;
  padding-right: 30px;
  margin-top: 35px;
  font-size: medium;
}

.broker-box {
  height: 120px;
  width: 94%;
  padding: 30px;
  border-top: 2px solid #EEEEEE;
  padding-right: 0px;
  margin-right: 32px;
  font-family: "AtlasGrotesk-Regular", sans-serif;
  padding-left: 0px;
  bottom: 0px;
  overflow: auto;
  position: absolute;
}

.broker-box-img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  float: left;
}

.broker-info {
  float: left;
  padding-top: 10px;
}

.broker-name {
  font-family: "AtlasGrotesk-Medium", sans-serif;
}

.contact-button {
  width: 157px;
  height: 51px;
  background-color: transparent;
  border: 2px solid #e0cf97;
  color: #c1a02f;
  float: right;
}
