.navbar-fixed-top {
  color: #ffffff;
  border-bottom: solid #f2f2f2 .2em;
  border-top: none;
}

.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0;
  border-top: none;
}

.navbar-brand img {
  width: 52%;
  height: auto;
}

.nav-link-border {
  display: inline-block;
  padding: auto 1em;
  height: 5%;
  /*height: 5em;*/
}

.nav-link-border:hover {
  border-bottom: solid #c1a02f .4em;
}

.nav-link-border a {
  color: #121546;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
}

.nav-link-border a:hover {
  text-decoration: none;
}

