.under-construction {
  width: 800px;
  font-size: 16px;
  padding: 7%;
}

.under-construction > img {
  width: 100%;
}

.navbar-header {
  width: 35%;
}

.navbar-brand, .navbar-brand img {
  width: 100%;
}

.navbar-fixed-top {
  color: #ffffff;
  border-bottom: solid #f2f2f2 .2em;
  border-top: none;
  height: 5em;
}

.nav-container {
  padding: 0px;
  margin: 0 30px 0 30px;
  width: 96.4%;
}

.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0;
  border: none;
  border-bottom: 2px solid #f2f2f2;
}

/*need to do a media query to keep this in the navbar at smaller screen sizes*/
.footer-logo-img,
.navbar-brand img {
  height: auto;
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
}

.footer-logo-img {
  transform: translate(0,0);
}

.footer-img

.navbar-nav > .nav-link-border > .nav-link {
  padding-top: 25px;
}

.nav-link {
  font-family: "AtlasGrotesk-Regular" !important;
  color: #121546 !important;
}

/*need to do media query to keep these in the navbar at smaller screen sizes*/
.nav-link-border {
  display: inline-block;
  padding: auto 1em;
  height: 5em;
}

.nav-link-border:hover {
  border-bottom: solid #c1a02f .4em;
}

.nav-link-border:hover > .nav-link {
  /*font-family: "AtlasGrotesk-Medium" !important;*/
}

.nav-link-border a {
  color: #121546;
}

.nav-link-border a:hover {
  text-decoration: none;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:hover {
  background-color: #fff;
}

.icon-bar {
  height: 0.2em !important;
  background-color: #121546 !important;
}

@media screen and (max-width: 1024px) {
  .navbar-header {
    width: 39%;
  }
  .navbar-right {
    margin: 0;
  }
  .navbar-brand {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {

  .navbar-header,
  .nav-container {
    margin: 0 !important;
    width: 100%;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-brand {
    padding: 4%;
    padding-left: 15px;
    width: 71%;
  }

  .navbar-brand img {
    width: 100%;
  }

  .navbar-toggle {
    margin: 0;
    right: 15px;
    padding: 0;
  }

  ul.navbar-nav {
    width: 50%;
    float: right;
    text-align: center;
    padding-right: 5%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.29);
    box-shadow: 0 1px 1px rgba(0,0,0,0.29);
  }

  .nav-link-border:hover > .nav-link {
    font-family: "AtlasGrotesk-Regular";
  }

  .nav-link-border:hover {
    border: none;
  }

  .nav-link:hover {
    color: #fff !important;
    border: none;
  }

  .nav-link-border:hover {
    background-color: #e0cf97 !important;
  }

  .navbar-brand img {
    max-width: 200px;
  }

  .footer-logo-img {
    max-width: 270px;
  }
}
