.navbar-fixed-top {
  color: #ffffff;
  border-bottom: solid #f2f2f2 .2em;
  border-top: none;
  height: 5em;
}

.navbar-default {
  background-color: #ffffff;
  margin-bottom: 0;
  border-top: none;
}

/*need to do a media query to keep this in the navbar at smaller screen sizes*/
.navbar-brand img {
  width: 52%;
  height: auto;
}

/*need to do media query to keep these in the navbar at smaller screen sizes*/
.nav-link-border {
  display: inline-block;
  padding: auto 1em;
  height: 5em;
}

.nav-link-border:hover {
  border-bottom: solid #c1a02f .4em;
}

.nav-link-border a {
  color: #121546;
}

.nav-link-border a:hover {
  text-decoration: none;
}

