.all-filters {
  width: 75vw;
}

.index-sorting {
  font-family: "AtlasGrotesk-Regular";
  height: 70px;
  border: none;
}

.filter-dropdown {
  padding: 0px;
  margin-right: 12px;
  color: #b1b1b1;
}

.filter-page-container {
  margin-top: 70px;
}

.filter-wrapper {
  background-color: #f2f2f2;
  padding: 1% 0;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.form-control {
  border: none;
  height: 45px;
  border-radius: 0px !important;
  color: #b1b1b1 !important;
}

.clear-all-container {
  text-align: right;
  padding-top: 15px;
  color: #b1b1b1;
}

.content-wrapper {
  position: relative;
  top: 70px;
}

.listing-show-container {
  margin-top: 70px;
}

#map-canvas {
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 100vh;
  top: 70px;
}

.neighborhood-filter {
  margin-left: 30px;
  width: 200px;
}

.bed-filter, .price-filter, .amenity-filter {
  width: 110px;
}

.sort-wrapper {
  padding: 1em;
  padding-top: 20px;
}

.sort-by {
  width: 75%;
  margin-bottom: 18px;
}

.sort-by-buttons {
  border: .2em solid #f2f2f2;
  text-align: center;
  width: 244px;
  float: left;
  color: #b1b1b1;
}

.sort-by li {
  display: inline-block;
  padding: .5em;
  float: left;
}

.sort-by-border {
  /*border: .2em solid #f2f2f2;*/
  width: 120px;
}

.sort-label {
  padding-right: 25px !important;
}

.results-found {
  text-align: right;
  padding: .5em;
  width: 25%;
}

.matches-wrapper {
  display: inline-block;
}

.individual-listing-container {
  float: center;
  width: 100%;
  font-family: "AtlasGrotesk-Regular", sans-serif;
}

.listing-container-hover {
  height: 92%;
  position: absolute;
  z-index: 1;
  width: 92%;
}

.listing-container-hover:hover {
  border: solid #c1a02f 3px;
}

.photo-wrapper {
  position: relative;
}

.photo-tags {
  position: absolute;
  margin: 1%;
}

/*need to fix padding when there are both tags*/
p.exclusive-tag, p.no-fee-tag {
  position: relative;
}

.exclusive-tag, .no-fee-tag {
  position: absolute;
  padding: 1% 2%;
  margin: 2%;
  color: #ffffff;
  display: inline-block;
}

.exclusive-tag {
  background-color: #c12f9d;
}

.no-fee-tag {
  background-color: #121546;
}

.main-img {
  width: 100%;
  height: 257px;
}

.info-wrapper {
  padding: 1em;
  background-color: #f2f2f2;
  margin-left: .01em;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}

.info-details {
  margin: 0 -10px 5px;
}

.price-wrapper h2 {
  font-size: 220%;
  font-family: 'Lora', serif;
  margin-top: 5px;
  margin-bottom: 20px;
}

.bed-bath-wrapper {
  text-align: right;
  font-size: 100%;
}
