$main-side-padding: 30px;

.all-filters-container {
  top: 50%;
}

.all-filters {
  width: 80vw;
}

.caret {
  float: right;
  margin-top: 8px;
  color: #C1A02F;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #C1A02F;
}

.dropdown-menu {
  border: none;
  border-radius: 0px;
  width: 110%;
  margin: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.dropdown-menu.open {
  border: 1px solid #cdcdcd;
  border-top: none;
  width: 120%;
}

.by_amenity > .dropdown-menu {
  width: 350%;
}

.by_neighborhood > .dropdown-menu {
  width: 150%;
}


.index-sorting {
  font-family: "AtlasGrotesk-Regular";
  height: 70px;
  border: none;
}

.select-sort {
  background-color: #f2f2f2;
  color: #C1A02F;
  font-weight: 600;
}

.filter-dropdown {
  padding: 0px;
  margin-right: 12px;
  color: #b1b1b1;
}

.filter-list {
  padding-left: 15px;
  margin-bottom: 0px;
  display: inline-block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /*width: 300%;*/
}

.beds-column {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.filter-list > li {
  list-style: none;
  display: inline-block;
  width: 100%;
}

.neighborhoods-column > li {
  width: 130%;
}

.amenities-column {
  padding: 0 1em;
}


li.stay-open {
  position: relative;;
}

input.stay-open {
  position: absolute;
  left: 0;
  margin: 2px 0 0;
}

.price-dropdown {
  padding-left: 15px;
  width: 260% !important;
}
.price-dropdown .stay-open {
  position: relative;
  padding-left: 15px;
}

.filter-category {
  padding-left: 1.3em;
}

.filter-list > li > input {
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.filter-category {
  display: inline-block;
  float: left;
}

.open {
  color: #000;
}

.dropdown-menu{
  display: none;
}

.dropdown-menu.open {
  display: block;
}

.toggle-dropdown {
  width: 100%;
  height: 45px;
  padding: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.toggle-dropdown:hover {
  cursor: default;
}

.toggle-dropdown.open {
  border: 1px solid #cdcdcd;
  border-bottom: none;
}

.filter-page-container {
  margin-top: 70px;
}

.filter-wrapper {
  background-color: #f2f2f2;
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 0.8em 0;
}

.form-control {
  border: none;
  height: 45px;
  border-radius: 0px !important;
  color: #b1b1b1 !important;
  margin: 0px;
  padding: 0px;
}

.clear-all-container {
  text-align: right;
  padding-top: 25px;
  color: #b1b1b1;
  float: right;
  height: 61px;
  z-index: 100;
}

.clear-all-container > span:hover {
  cursor: pointer;
}

.content-wrapper {
  position: relative;
  top: 70px;
}

#map-canvas {
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 100vh;
  top: 16px;
}

.neighborhood-filter {
  margin-left: 30px;
  width: 200px;
}

.bed-filter, .price-filter, .amenity-filter {
  width: 115px;
}

.building-type-filter {
  width: 170px;
}

.building-type-filter .dropdown-menu {
  width: 150%;
}

.results, .num-results {
  display: inline-block;
  padding-left: 5px;
}

.sort-wrapper {
  padding: 1em;
  padding-top: 20px;
}

.sort-by {
  width: 75%;
  margin-bottom: 18px;
}

.sort-by-buttons {
  border: .2em solid #f2f2f2;
  text-align: center;
  width: 244px;
  float: left;
  color: #b1b1b1;
}

.sort-by li {
  display: inline-block;
  padding: .5em;
  float: left;
}

.sort-by-border {
  /*border: .2em solid #f2f2f2;*/
  width: 120px;
  cursor: default;
}

.sort-label {
  padding-right: 25px !important;
}

.results-found {
  text-align: right;
  padding: .5em;
  width: 25%;
}

.matches-wrapper {
  padding-left: 15px;
}

.individual-listing-container {
  float: center;
  width: 100%;
  font-family: "AtlasGrotesk-Regular", sans-serif;
}

.individual-listing-container > a {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 15px;
  bottom: 30px;
  top: 0px;
}

.listing-container-hover {
  /*height: 92%;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  display: inline-block;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.listing-container-hover:hover {
  border: solid #c1a02f 3px;
}

.selected-listing {
  border: solid #c1a02f 3px;
}

.photo-wrapper {
  position: relative;
}

.photo-tags {
  position: absolute;
  margin: 1%;
  text-align: left;
}

/*need to fix padding when there are both tags*/
p.exclusive-tag, p.no-fee-tag {
  position: relative;
  padding: 2% 4% 1% 4%;
}

.exclusive-tag, .no-fee-tag {
  position: absolute;
  padding: 1% 2%;
  margin: 2%;
  color: #ffffff;
  display: inline-block;
}

.exclusive-tag {
  background-color: #18cd82;
}

.no-fee-tag {
  background-color: #121546;
}

.main-img {
  width: 100%;
  height: 257px;
}

.info-wrapper {
  padding: 1em;
  background-color: #f2f2f2;
  margin-left: .01em;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}

.info-wrapper *:first-child {
  padding: 0;
}

.info-details {
  margin: 0 -10px 5px;
}

.price-wrapper h2 {
  font-size: 220%;
  font-family: 'Brawler-Regular', serif;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.bed-bath-wrapper {
  text-align: right;
  font-size: 100%;
}

.show-other-filters {
  display: none;
}

.mobile-browse-footer {
  display: none;
}

.show-other-filters {
  display: none;
}

.browse-footer {
  background-color: #0E1131;
  position: fixed;
  height: 0px;
  width: 100vw;
  bottom: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.browse-footer-logo {
  padding-top: 13px;
}

.browse-copyright {
  margin-top: 20px;
}

.footer-hover {
  background-color: transparent;
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
}

.footer-hover:hover > .browse-footer {
  height: 60px;
}

.listing-subview {
  width: 100%;
}


@media (min-width: 1024px) {
  .sort-matches-container {
    padding-left: 40px;
  }

  .sort-label {
    padding-left: 0;
  }

  .listing-subview {
    width: 50%;
  }
}

@media (max-width: 1024px) {

  .price-dropdown {
    width: 105% !important;
  }

  .filter-wrapper .filter-dropdown:not(:first-child) {
    display: none;
  }

  .filter-wrapper.active .filter-dropdown:not(:first-child) {
    display: block;
  }

  .content-wrapper {
    margin: 0;
  }

  .sort-by,
  .sort-label {
    padding-left: 0 !Important;
  }

  .sort-by-border {
    width: 50%;
  }

  .listing-subview {
    padding: 0;
  }

  .individual-listing-container {
    padding-right: 15px;
  }

  .clear-all-container {
    display: none;
  }

  .filter-dropdown {
    width: 95%;
    margin: 2%;
  }

  .filter-wrapper {
    height: auto;
  }

  .content-wrapper {
    top: 5px;
  }

  .hide-filter {
    display: none;
  }

  .show-other-filters {
    width: 10%;
    position: relative;
    float: right;
    text-align: center;
    background-color: #fff;
    right: 15px;
    display: table;
    line-height: 45px;
    width: 45px;
    top: 13px;
  }

  .plus-sign {
    display: table-cell;
    font-size: 33px;
    color: #C1A02F;
  }

  .dropdown-menu.open {
    width: 100%;
  }

  .mobile-browse-footer {
    display: block;
    background-color: #0E1131;
    height: 60%;
    margin-right: -17px;
    padding: 20px;
    font-family: "AtlasGrotesk-Regular", Helvetica, sans-serif;
  }

  .results-found {
    display: none;
  }

  .sort-by {
    padding: 0px;
    padding-left: 7%;
  }

  .sort-by-buttons {
    width: 60%;
  }

  .sort-by-border {
    width: 50%;
  }

  .footer-logo {
    text-align: center;
    float: none;
    margin-left: 8%;
  }

  .footer-logo-img {
    width: 100%;
  }

  .footer-address {
    text-align: center;
    font-size: 120%;
    padding-top: 0px;
  }

  .footer-icons {
    text-align: center;
    padding-left: 20%;
    margin-bottom: 5%;
    margin-top: 2%;
  }

  .footer-icon-img {
    width: 32px;
    margin-right: 7%;
  }

  .footer-terms {
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 0px;
  }

  .all-filters-container {
    width: auto;
  }
}


@media (max-width: 767px) {
  .show-other-filters {
    top: 7px;
  }

  .filter-dropdown {
    margin-left: 4%;
  }
}
