<div class="container-fluid home-wrapper">
  <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
  <div class="overlay"></div>
  <div class="jumbotron">
    <h1>Let us help you find
      <br>
    your share of Brooklyn</h1>
    <p>
      <a class="btn btn-lg btn-home" href="#rentals" role="button">Browse Rentals</a>
      <a class="btn btn-lg btn-home" href="#sales" role="button">Browse Sales</a>
    </p>
  </div>
</div>
<div class="footer-hover">
  <div class="browse-footer">
      <div class="browse-footer-logo col-xs-10 col-sm-6 col-md-6 col-lg-6">
        <img class="footer-logo-img" src="assets/logo_dark_background.png">
      </div>

      <div class="browse-copyright footer-terms col-xs-10 col-sm-6 col-md-6 col-lg-6">
        <p class="terms-copyright">&#169; The Lion's Share, Inc. All Rights Reserved. 2015</p>
      </div>
    <div class="clear"></div>
  </div>
</div>
