<div class="container-fluid home-wrapper">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
      </div>

      <div class="item">
        <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
      </div>

      <div class="item">
        <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
      </div>

      <div class="item">
        <div class="bg-image"><img src="https://s3-us-west-1.amazonaws.com/thelionsshare/photo-1415889678233-eb900aeee9e1.jpeg"></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="jumbotron">
    <h1>Let us help you find
      <br>
    your share of Brooklyn</h1>
    <p>
      <a class="btn btn-lg btn-home" href="#rentals" role="button">Browse Rentals</a>
      <a class="btn btn-lg btn-home" href="#sales" role="button">Browse Sales</a>
    </p>
  </div>

</div>
