<form class="sign-in-form" action="<%= admin_users_url %>" method="post">
  <%= auth_token %>
  <input class="sign-in-field" type="text" name="user[username]" placeholder="username">
  <br>
  <input class="sign-in-field" type="password" name="user[password]" placeholder="password">
  <br>
  <input class="sign-in-button" type="submit" value="Sign Up">
</form>
<div class="errors"><%= render "shared/errors" %></div>
