.filter-page-container {
  margin-top: 100px;
}

.filter-wrapper {
  background-color: #cdcdcd;
  padding: 1% 0;
}

.clear-all-container {
  text-align: right;
}

#map-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.matches-wrapper {
  display: inline-block;
}

.individual-listing-container {
  float: center;
  width: 20em;
}

.main-img {
  width: 20em;
  height: auto;
}

.info-wrapper {
  background-color: #e7e7e7;
  display: inline;
}

.price-wrapper {
  /*width: 50%;*/
}

.bed-bath-wrapper {
  text-align: right;
}