.filter-page-container {
  margin-top: 100px;
}

.filter-wrapper {
  background-color: #cdcdcd;
}

.clear-all-container {
  text-align: right;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}