.filter-page-container {
  margin-top: 100px;
}

.filter-wrapper {
  background-color: #f2f2f2;
  padding: 1% 0;
}

.clear-all-container {
  text-align: right;
}

#map-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.sort-wrapper {
  padding: 1em;
}

.sort-by {
}

.sort-by li {
  display: inline-block;
  padding: .5em;
}

.sort-by-border {
  border: .2em solid #f2f2f2;
}

.results-found {
  text-align: right;
  padding: .5em;
}

.matches-wrapper {
  display: inline-block;
}

.individual-listing-container {
  float: center;
  width: 23em;
  padding: 1.5em;
}

.main-img {
  width: 23em;
  height: auto;
}

.info-wrapper {
  padding: 1em;
  background-color: #f2f2f2;
}

.price-wrapper {
  /*width: 50%;*/
}

.bed-bath-wrapper {
  text-align: right;
}