.home-wrapper {
  background-image: url("https://s3-us-west-1.amazonaws.com/thelionsshare/brooklyn_bridge.jpg");
  background-size: 100% 100%;
  max-width: 100%;
  height: auto;
}

.jumbotron h1 {
  color: white;
  font-family: 'Lora', serif;;
}

.jumbotron p {
  margin-top: 5%
}

.btn-home {
  border: solid white .2em;
  border-radius: 0;
  width: 10em;
  margin: 0 .5em;
  font-family:
}

.btn-home:hover {
  border: solid #c1a02f .2em;
  background-color: #c1a02f;
}

a.btn-home {
  color: white;
  text-decoration: none;
}

a.btn-home:hover {
  color: white;
}