.home-wrapper {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/92/Brooklyn_Bridge%2C_NYC.jpg");
  background-size: 100% 100%;
  height: 100%;
}

.jumbotron h1 {
  color: white;

}

.btn-home {
  border: solid white .2em;
  border-radius: 0;
  width: 10em;
  margin: 0 .5em;
}

.btn-home:hover {
  border: solid #c1a02f .2em;
  background-color: #c1a02f;
}

a.btn-home {
  color: white;
  text-decoration: none;
}

a.btn-home:hover {
  color: white;
}